<aside class="sidebar" aria-label="section index">
    {{ range where .Site.Sections "Section" "!=" "search" }}
    {{ $sectionKey := partial "section-key.html" . }}
    <section class="sidebar-section">
        <h3><a href="{{ partial "internal-link.html" .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="sidebar-links">
            {{ if isset $.Site.Params.section_subcategories $sectionKey }}
            {{ range index $.Site.Params.section_subcategories $sectionKey }}
            <a href="{{ partial "internal-link.html" (printf "/subcategories/%s/" (urlize .)) }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </div>
    </section>
    {{ end }}
</aside>
